---
import { Image } from "astro:assets";
import HackClub from "./public/hackclub.svg";
import TopDecor from "./public/hero.png";
import Logo from "./public/logo.png";
import "../styles/styles.css";
import Instructions from "../components/instructions.astro";
import Card from "../components/instructions-card.astro";
import StepNum from "../../public/circle.png";
---

<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<main class="containermain">
				<Image alt="" src={TopDecor} alt="topdecor" class="top-decor"/>
				<a class="hackclublogo" href="https://hackclub.com">
					<img src={HackClub.src}>
				</a>
				<div class="tilt-logo" data-tilt data-tilt-max="15" data-tilt-speed="400">
					<Image alt="" src={Logo} alt="Logo" class="logo" />
				</div>
				<h3>Code a Tamagotchi, get one shipped to you!</h3>

				<div class="submit">
					<a href="/submit">
					<h3>Submit your project</h3>
				</a>
				</div>
				
			</main>
		</header>
		<Instructions>
					<Card>
						<p>Hello!</p>
						<img class="step" src={StepNum.src}>
					</Card>
					<Card>
						<p>Hello!</p>
						<img class="step" src={StepNum.src}>
					</Card>
					<Card>
						<p>Hello!</p>
						<img class="step" src={StepNum.src}>
					</Card>
					<Card>
						<p>Hello!</p>
						<img class="step" src={StepNum.src}>
					</Card>
		</Instructions>
	</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"></script>