---
import { Image } from "astro:assets";
import HackClub from "../assets/public/hackclub.svg";
import TopDecor from "../assets/public/hero.png";
import Logo from "../assets/public/logo.png";
import "../styles/styles.css";
import Instructions from "../components/instructions.astro";
import Card from "../components/instructions-card.astro";
import One from "../assets/public/one.png";
import Two from "../assets/public/two.png";
import Three from "../assets/public/three.png";
import Four from "../assets/public/four.png";
---

<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<main class="containermain">
				<Image alt="" src={TopDecor} alt="topdecor" class="top-decor"/>
				<a class="hackclublogo" href="https://hackclub.com">
					<img src={HackClub.src}>
				</a>
				<div class="tilt-logo" data-tilt data-tilt-max="15" data-tilt-speed="400">
					<Image alt="" src={Logo} alt="Logo" class="logo" />
				</div>
				<h3>Code a Tamagotchi, get one shipped to you!</h3>

				<div class = "buttons">
					<a class="submit" href="/hackatamagotchi-site/submit" >
					<h3>Submit</h3>
					</a>
					<a class = "submit" href="/hackatamagotchi-site/slack" >
					<h3>Slack</h3>
					</a>
				</div>
			</main>
		</header>
		<div class="containermain">
			<Instructions>
					<Card>
						<p>Step one. Probably something along the lines of 
							joining the slack, getting wakatime setup, thatnot
						</p>
						<img class="step" src={One.src}>
					</Card>
					<Card>
						<p>Step two, maybe whatever 
							specific stuff you need to have or you need to do in order to be
							able to write tamagotchi stuff?
						</p>
						<img class="step" src={Two.src}>
					</Card>
					<Card>
						<p>Step three. talking about the actual coding</p>
						<img class="step" src={Three.src}>
					</Card>
					<Card>
						<p>Step 4 will be the submission + prizes!</p>
						<img class="step" src={Four.src}>
					</Card>
		</Instructions>
		</div>
		<p>
			Site + art by <a href="https://astrophysics108.github.io/delana">Delana</a> :). 
			YSWS run by Aarav J
		</p>
	</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"></script>